<header id="topbar">
    <div class="topbar-left">
        <ol class="breadcrumb">
            <li class="crumb-active">
                <a>Dashboard</a>
            </li>
            <li class="crumb-icon">
                <a>
                    <span class="glyphicon glyphicon-home"></span>
                </a>
            </li>
            <li class="crumb-link">
                <a>Home</a>
            </li>
            <li class="crumb-trail">Dashboard</li>
        </ol>
    </div>
    <div class="topbar-right">
        <div class="ml15 ib va-m" id="toggle_sidemenu_r">
            <a class="pl5">
                <i class="fa fa-sign-in fs22 text-primary"></i>
                <span class="badge badge-danger badge-hero">0</span>
            </a>
        </div>
    </div>
</header>
