<div id="topbar-dropmenu">
    <div class="topbar-menu row">
        <div class="col-xs-4 col-sm-2">
            <a class="metro-tile">
                <span class="glyphicon glyphicon-inbox"></span>
                <span class="metro-title">Messages</span>
            </a>
        </div>
        <div class="col-xs-4 col-sm-2">
            <a class="metro-tile">
                <span class="glyphicon glyphicon-user"></span>
                <span class="metro-title">Users</span>
            </a>
        </div>
        <div class="col-xs-4 col-sm-2">
            <a class="metro-tile">
                <span class="glyphicon glyphicon-headphones"></span>
                <span class="metro-title">Support</span>
            </a>
        </div>
        <div class="col-xs-4 col-sm-2">
            <a class="metro-tile">
                <span class="fa fa-gears"></span>
                <span class="metro-title">Settings</span>
            </a>
        </div>
        <div class="col-xs-4 col-sm-2">
            <a class="metro-tile">
                <span class="glyphicon glyphicon-facetime-video"></span>
                <span class="metro-title">Videos</span>
            </a>
        </div>
        <div class="col-xs-4 col-sm-2">
            <a class="metro-tile">
                <span class="glyphicon glyphicon-picture"></span>
                <span class="metro-title">Pictures</span>
            </a>
        </div>
    </div>
</div>
